<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--<add key="ProgId" value="AKE_OPC_SERVER" />-->
		<add key="ProgId" value="Matrikon.OPC.Simulation.1" />
		<add key="Ip" value="" />
		<!--<add key="Ip" value="192.168.215.253" />-->

	</appSettings>
</configuration>